        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #1c2127;
            width: 100vw;
            display: flex;
            justify-content: center;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        h2 {
            color: white;
            font-size: 35px;
            letter-spacing: 5px;
            margin-bottom: 50px;
        }

        .main {
            position: relative;
            top: 150px;
        }

        .form-group input,
        textarea {
            width: 40vw;
            padding: 20px 25px;
            margin: 10px;
            border-radius: 40px;
            border: none;
            font-size: 17px;
            background-color: #dee2e5;
        }

        .form-group input:hover,
        textarea:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.9) 0px 18px 36px -18px inset;
            transition: all .3s ease-in-out;
        }

        .btn {
            font-size: 18px;
            font-weight: 500;
            padding: 12px 35px;
            color: white;
            border-radius: 40px;
            display: inline-block;
            border: none;
            margin-top: 30px;
            margin-right: 30px;
            margin-left: 10px;
            background: green;
            transition: transform .5s ease-in-out;
        }

        .btn:hover {
            transform: scale(1.1);
        }

        .reset {
            background: red;
        }

        @media screen and (max-width: 650px) {

            .form-group input,
            textarea {
                width: 80vw;
            }
        }